<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hugh.interesting">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".Application.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CustomizeViews.CustomImageView.ImagViewActivity"></activity>
        <activity android:name=".CustomizeViews.PunchBar.PunchBarActivity" />
        <activity android:name=".RecyclerView.RecyclerViewTestActivity" />
        <activity android:name=".CustomizeViews.filter.FilterActivity" />
        <activity android:name=".CustomizeViews.ProgressBar.ProgressActivity" />
        <activity android:name=".FlappyBird.FlappyBirdActivity" />
        <activity android:name=".SurfaceView.SurfaceActivity" />
        <activity android:name=".Chart.ChartActivity" />
        <activity
            android:name=".Activity.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- 固定屏幕的方向，处理键盘滑出事件，防止activity关闭或者重启 -->
        </activity>
        <activity android:name=".Activity.SVGActivity" />
        <activity android:name=".CustomizeViews.HousePlan.HousePlanActivity">
            <intent-filter> <!-- URL Scheme启动 -->
                <!-- 必有项 -->
                <action android:name="android.intent.action.VIEW" />
                <!-- 表示该页面可以被隐式调用，必须加上该项 -->
                <category android:name="android.intent.category.DEFAULT" />
                <!-- 协议部分 -->
                <data
                    android:host="house_plan_activity"
                    android:scheme="url_scheme" />
            </intent-filter>
            <intent-filter>
                <action android:name="emms.intent.action.check_authorization" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="emms.intent.category.authorization" />
            </intent-filter>
        </activity>
        <activity android:name=".CustomizeViews.EggRobot.RobotActivity" />
        <activity android:name=".CustomizeViews.Keyboard.KeyBoardActivity" />
        <activity android:name=".CustomizeViews.SmallRedPoint.RedPointActivity" />
        <activity android:name=".AnimImageView.AnimActivity" />
        <activity android:name=".SlidingConflict.SlidingConflictActivity" />
        <activity android:name=".ViewBinder.ViewBinderTestActivity" />
        <activity android:name=".CoordinatorLayout.CoordinatorActivity" />
        <activity android:name=".GreenDao.GreenDaoActivity" />
        <activity android:name=".HyperLink.HyperLinkActivity" />
        <activity android:name=".CustomizeViews.CustomizeSeekbar.GearSeekBarActivity" />
        <activity android:name=".CustomizeViews.GraphicLock.GraphicLockActivity" />
        <activity android:name=".RxJava.ObservableTestActivity" />
        <activity android:name=".Retrofit.RetrofitActivity" />
        <activity android:name=".Thread.ThreadCollaboration.ThreadActivity" />
    </application>

</manifest>